/* Colors to use (see scheme image for reference)
--raspberry: #EC1461ff;
--brink-pink: #F3668Aff;
--purple-navy: #414E85ff;
--little-boy-blue: #7FA7D8ff;
--black: #000000ff; */

body {
    background-color: #414E85ff;
    margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

.topnav {
    background-color: #7FA7D8ff;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #000000ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #EC1461ff;
    color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7FA7D8ff;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000000ff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown .dropbtn:hover {
    background-color: #EC1461ff;
    color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #000000ff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}
